# Containers

## Lists
- type list
- iterable
- length: builtin function len
- modifiable: append/extend/remove/sort/...
- getitem/setitem with operator [] (index or slice)

In [1]:
cities = [
    "Toulouse",
    "Montpellier",
    "Marseille",
    "Lyon",
    "Valence",
    "Saint Etienne",
    "Paris",
    "Pau",
]

In [2]:
del cities[-1]
cities

['Toulouse',
 'Montpellier',
 'Marseille',
 'Lyon',
 'Valence',
 'Saint Etienne',
 'Paris']

In [3]:
print("City count:", len(cities))
for city in cities:
    print("  -", city)

City count: 7
  - Toulouse
  - Montpellier
  - Marseille
  - Lyon
  - Valence
  - Saint Etienne
  - Paris

## Tuples
- type: tuple
- iterable
- length: builtin function len
- getitem: operator[] with index, slice
- not modifiable: NO methods or operators setitem, del, append ...

In [4]:
# tuple[str,int,str]
city = "Toulouse", 477_000, "31000"
city

('Toulouse', 477000, '31000')

In [5]:
type(city)

tuple

In [6]:
nom = city[0]
nom

'Toulouse'

In [7]:
# TypeError: 'tuple' object does not support item assignment
# city[0] = "Pau"

In [8]:
# avoid that
nom = city[0]
population = city[1]

In [9]:
# unpack tuple into n variables
nom, population, cp = city
print(nom, population, cp, sep=", ")

Toulouse, 477000, 31000

In [10]:
# ValueError: too many values to unpack (expected 2)
# nom, population = city

# ValueError: not enough values to unpack (expected 4, got 3)
# nom, population, cp, mayor = city

In [11]:
nom, _, cp = city
print(nom, cp, sep=", ")

Toulouse, 31000

In [12]:
len(city)

3

In [13]:
for info in city:
    print(info)

Toulouse
477000
31000

In [14]:
# len(12, 34, 56) # you must putparenthesis around tuple
len((12, 34, 56))

3

## Tuple vs List

### Reading and computing

In [15]:
data1 = (12, 34, 56)
data2 = [12, 34, 56]

In [19]:
s1 = sum(data1)
s2 = sum(data2)
print(s1, s2)

102 192

### Modification: KO OK

In [20]:
# AttributeError: 'tuple' object has no attribute 'append'
# data1.append(90)
data2.append(90)
data2

[12, 34, 56, 90, 90]

### Exercise
- Define a list of cities represented by a tuple (name, population, code postal)
- Display cities line by line: name = Toulouse, population = 477000, code postal = 31000
- Compute total population of all cities
- Compute min population
- Compute max population
- list of population only (sorted with ascending order: numeric)
- list of name only (sorted with ascending order: alphabetic)

In [22]:
# type: list[tuple[str,int,str]]
liste_villes = [
    ('Toulouse', 500_000, '31000'), 
    ('Agen', 200_000, '47000'), 
    ('Montauban', 100_000, '82000'), 
    ('Lyon', 700_000, '69000'), 
    ('Saint Etienne', 300_000, '42000'),
]
liste_villes

[('Toulouse', 500000, '31000'),
 ('Agen', 200000, '47000'),
 ('Montauban', 100000, '82000'),
 ('Lyon', 700000, '69000'),
 ('Saint Etienne', 300000, '42000')]

In [23]:
liste_villes[0]

('Toulouse', 500000, '31000')

In [24]:
liste_villes[0][0]

'Toulouse'

In [31]:
for i in range(len(liste_villes)):
    print(
        'Nom : ',
        liste_villes[i][0], 
        ' ; Habitants : ', 
        liste_villes[i][1],
        ' ; Code Postal : ',
        liste_villes[i][2],
        sep=''
    )

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [33]:
for ville in liste_villes:
     print(
        'Nom : ',
        ville[0], 
        ' ; Habitants : ', 
        ville[1],
        ' ; Code Postal : ',
        ville[2],
        sep=''
    )

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [34]:
# foreach with unpack current element into n varaiables
for nom, population, cp in liste_villes:
     print(
        'Nom : ',
        nom, 
        ' ; Habitants : ', 
        population,
        ' ; Code Postal : ',
        cp,
        sep=''
    )

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [35]:
# with f-string (formatted string)
for nom, population, cp in liste_villes:
     print(f'Nom : {nom} ; Habitants : {population} ; Code Postal : {cp}')

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [37]:
sommePopulation = 0
for ville in liste_villes: 
    sommePopulation = sommePopulation + ville[1]
print(sommePopulation)

1800000

In [38]:
sommePopulation = 0
for _, population, _ in liste_villes: 
    sommePopulation = sommePopulation +population
print(sommePopulation)

1800000

In [44]:
# expression for = generator
total_population = sum(population for _, population, _ in liste_villes)
total_population

1800000

In [78]:
population_min = min(population for _,population,_ in liste_villes)
population_min

100000

In [79]:
population_max = max(population for _,population,_ in liste_villes)
population_max

700000

In [81]:
sorted(nom for nom,_,_ in liste_villes)

['Agen', 'Lyon', 'Montauban', 'Saint Etienne', 'Toulouse']

In [83]:
# NB: sorted uses operator < on str objects
'Agen' < 'Lyon'

True

In [82]:
population_sort = sorted(population for _,population,_ in liste_villes)
population_sort

[100000, 200000, 300000, 500000, 700000]

In [84]:
sorted(liste_villes)

[('Agen', 200000, '47000'),
 ('Lyon', 700000, '69000'),
 ('Montauban', 100000, '82000'),
 ('Saint Etienne', 300000, '42000'),
 ('Toulouse', 500000, '31000')]

In [86]:
# NB: sorted uses operator < on tuple object (first component, then second, then third
# Here: decision on first component name (str)
('Agen', 200000, '47000') < ('Lyon', 700000, '69000')

True

In [87]:
# Here: decision on second component population (int)
('Saint Sauveur', 505, '05200') < ('Saint Sauveur', 1321, '33250')

True

In [88]:
liste_villes.append(('Saint Sauveur', 505, '05200'))
liste_villes.append(('Saint Sauveur',1321, '33250'))
liste_villes.sort() # NB: in place sort
liste_villes

[('Agen', 200000, '47000'),
 ('Lyon', 700000, '69000'),
 ('Montauban', 100000, '82000'),
 ('Saint Etienne', 300000, '42000'),
 ('Saint Sauveur', 505, '05200'),
 ('Saint Sauveur', 1321, '33250'),
 ('Toulouse', 500000, '31000')]

In [90]:
liste_villes.sort(reverse=True)
liste_villes

[('Toulouse', 500000, '31000'),
 ('Saint Sauveur', 1321, '33250'),
 ('Saint Sauveur', 505, '05200'),
 ('Saint Etienne', 300000, '42000'),
 ('Montauban', 100000, '82000'),
 ('Lyon', 700000, '69000'),
 ('Agen', 200000, '47000')]

In [97]:
def population_from_city(city):
    """get population from a city represented as a tuple
    
    population must be at index 1

    Example:
        city = ('Saint Sauveur', 505, '05200')
        population_from_city(city) -> 505
    """
    return city[1]

In [98]:
city = ('Saint Sauveur', 505, '05200')
pop = population_from_city(city)
pop

505

In [99]:
# access doctring of my function population_from_city
population_from_city?

Signature: population_from_city(city)
Docstring:
get population from a city represented as a tuple

population must be at index 1

Example:
    city = ('Saint Sauveur', 505, '05200')
    population_from_city(city) -> 505
File:      c:\users\aelion\appdata\local\temp\ipykernel_10972\1608077148.py
Type:      function

In [100]:
liste_villes.sort(key=population_from_city)
liste_villes

[('Saint Sauveur', 505, '05200'),
 ('Saint Sauveur', 1321, '33250'),
 ('Montauban', 100000, '82000'),
 ('Agen', 200000, '47000'),
 ('Saint Etienne', 300000, '42000'),
 ('Toulouse', 500000, '31000'),
 ('Lyon', 700000, '69000')]

In [107]:
# TypeError: 'int' object is not subscriptable
# 12 is not a duck "city"
#population_from_city(12)

## Generator, for expression

In [45]:
[x**2 + 1 for x in range(10)]

[1, 2, 5, 10, 17, 26, 37, 50, 65, 82]

In [64]:
g = (x**2 + 1 for x in range(10))
g

In [71]:
# evaluate this cell until exception StopIteration
next(g)

37

In [74]:
sum(x**2 + 1 for x in range(10))

295

In [75]:
sum?

Signature: sum(iterable, /, start=0)
Docstring:
Return the sum of a 'start' value (default: 0) plus an iterable of numbers

When the iterable is empty, return the start value.
This function is intended specifically for use with numeric values and may
reject non-numeric types.
Type:      builtin_function_or_method

## Dictionaries