# Containers

## Lists
- type list
- iterable
- length: builtin function len
- modifiable: append/extend/remove/sort/...
- getitem/setitem with operator [] (index or slice)

In [1]:
cities = [
    "Toulouse",
    "Montpellier",
    "Marseille",
    "Lyon",
    "Valence",
    "Saint Etienne",
    "Paris",
    "Pau",
]

In [2]:
del cities[-1]
cities

['Toulouse',
 'Montpellier',
 'Marseille',
 'Lyon',
 'Valence',
 'Saint Etienne',
 'Paris']

In [3]:
print("City count:", len(cities))
for city in cities:
    print("  -", city)

City count: 7
  - Toulouse
  - Montpellier
  - Marseille
  - Lyon
  - Valence
  - Saint Etienne
  - Paris

## Tuples
- type: tuple
- iterable
- length: builtin function len
- getitem: operator[] with index, slice
- not modifiable: NO methods or operators setitem, del, append ...

In [4]:
# tuple[str,int,str]
city = "Toulouse", 477_000, "31000"
city

('Toulouse', 477000, '31000')

In [5]:
type(city)

tuple

In [6]:
nom = city[0]
nom

'Toulouse'

In [7]:
# TypeError: 'tuple' object does not support item assignment
# city[0] = "Pau"

In [8]:
# avoid that
nom = city[0]
population = city[1]

In [9]:
# unpack tuple into n variables
nom, population, cp = city
print(nom, population, cp, sep=", ")

Toulouse, 477000, 31000

In [10]:
# ValueError: too many values to unpack (expected 2)
# nom, population = city

# ValueError: not enough values to unpack (expected 4, got 3)
# nom, population, cp, mayor = city

In [11]:
nom, _, cp = city
print(nom, cp, sep=", ")

Toulouse, 31000

In [12]:
len(city)

3

In [13]:
for info in city:
    print(info)

Toulouse
477000
31000

In [14]:
# len(12, 34, 56) # you must putparenthesis around tuple
len((12, 34, 56))

3

## Tuple vs List

### Reading and computing

In [15]:
data1 = (12, 34, 56)
data2 = [12, 34, 56]

In [19]:
s1 = sum(data1)
s2 = sum(data2)
print(s1, s2)

102 192

### Modification: KO OK

In [20]:
# AttributeError: 'tuple' object has no attribute 'append'
# data1.append(90)
data2.append(90)
data2

[12, 34, 56, 90, 90]

### Exercise
- Define a list of cities represented by a tuple (name, population, code postal)
- Display cities line by line: name = Toulouse, population = 477000, code postal = 31000
- Compute total population of all cities

In [22]:
# type: list[tuple[str,int,str]]
liste_villes = [
    ('Toulouse', 500_000, '31000'), 
    ('Agen', 200_000, '47000'), 
    ('Montauban', 100_000, '82000'), 
    ('Lyon', 700_000, '69000'), 
    ('Saint Etienne', 300_000, '42000'),
]
liste_villes

[('Toulouse', 500000, '31000'),
 ('Agen', 200000, '47000'),
 ('Montauban', 100000, '82000'),
 ('Lyon', 700000, '69000'),
 ('Saint Etienne', 300000, '42000')]

In [23]:
liste_villes[0]

('Toulouse', 500000, '31000')

In [24]:
liste_villes[0][0]

'Toulouse'

In [31]:
for i in range(len(liste_villes)):
    print(
        'Nom : ',
        liste_villes[i][0], 
        ' ; Habitants : ', 
        liste_villes[i][1],
        ' ; Code Postal : ',
        liste_villes[i][2],
        sep=''
    )

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [33]:
for ville in liste_villes:
     print(
        'Nom : ',
        ville[0], 
        ' ; Habitants : ', 
        ville[1],
        ' ; Code Postal : ',
        ville[2],
        sep=''
    )

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [34]:
# foreach with unpack current element into n varaiables
for nom, population, cp in liste_villes:
     print(
        'Nom : ',
        nom, 
        ' ; Habitants : ', 
        population,
        ' ; Code Postal : ',
        cp,
        sep=''
    )

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

In [35]:
# with f-string (formatted string)
for nom, population, cp in liste_villes:
     print(f'Nom : {nom} ; Habitants : {population} ; Code Postal : {cp}')

Nom : Toulouse ; Habitants : 500000 ; Code Postal : 31000
Nom : Agen ; Habitants : 200000 ; Code Postal : 47000
Nom : Montauban ; Habitants : 100000 ; Code Postal : 82000
Nom : Lyon ; Habitants : 700000 ; Code Postal : 69000
Nom : Saint Etienne ; Habitants : 300000 ; Code Postal : 42000

## Dictionaries