# Temporal data types
- python: ISO 8061
    - module datetime: classes datetime, date, time, tzinfo, timedelta
- pytz: dictionary of tzinfo 'Europe/Paris'
- numpy/pandas: datetime64, ... (more precise: ns, fs, ...)

!["Timezone Map"](https://upload.wikimedia.org/wikipedia/commons/8/88/World_Time_Zones_Map.png)
Source: https://fr.wikipedia.org/wiki/Liste_des_fuseaux_horaires

In [1]:
from datetime import datetime, date, time, timedelta
import pytz
import locale

## Datetime objects

### Creation

In [2]:
# system datetime by calling class method now
dt = datetime.now()
dt

datetime.datetime(2024, 6, 13, 12, 42, 46, 537916)

In [3]:
# create dt with constructor
dt1 = datetime(2024, 2, 29, 13, 45)
dt1

datetime.datetime(2024, 2, 29, 13, 45)

In [4]:
# str of temporal data: ISO format
print(dt, dt1, sep=' ; ')

2024-06-13 12:42:46.537916 ; 2024-02-29 13:45:00

In [5]:
type(dt)

datetime.datetime

### attributes, operators, display

In [6]:
print(dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second, dt.microsecond, dt.tzinfo, sep=', ')

2024, 6, 13, 12, 42, 46, 537916, None

In [7]:
# class attribute (unique)
datetime.min, datetime.max

(datetime.datetime(1, 1, 1, 0, 0),
 datetime.datetime(9999, 12, 31, 23, 59, 59, 999999))

In [8]:
dt1 < dt

True

In [9]:
dt + timedelta(minutes=45)

datetime.datetime(2024, 6, 13, 13, 27, 46, 537916)

In [10]:
dt - dt1

datetime.timedelta(days=104, seconds=82666, microseconds=537916)

In [11]:
dt3 = datetime(2024, 7, 14, 12)
dt4 = datetime(2024, 1, 1, 18, 30)
dt5 = datetime(dt.year, dt.month, dt.day, 17)
liste_dt = [dt, dt1, dt3, dt4, dt5]
liste_dt.sort()
liste_dt

[datetime.datetime(2024, 1, 1, 18, 30),
 datetime.datetime(2024, 2, 29, 13, 45),
 datetime.datetime(2024, 6, 13, 12, 42, 46, 537916),
 datetime.datetime(2024, 6, 13, 17, 0),
 datetime.datetime(2024, 7, 14, 12, 0)]

### Format and parse

In [12]:
dt.strftime('%H:%M le %d/%m/%Y')

'12:42 le 13/06/2024'

In [13]:
# other format: 11h46 jeudi 13 juin 2024
dt.strftime('%Hh%M le %A %d %B %Y')

'12h42 le Thursday 13 June 2024'

In [14]:
locale.getlocale()

('fr_FR', 'cp1252')

In [15]:
for cat in locale.LC_TIME, locale.LC_MONETARY, locale.LC_COLLATE, locale.LC_NUMERIC:
    print(cat, locale.getlocale(cat), sep=' -> ')

5 -> (None, None)
3 -> (None, None)
1 -> (None, None)
4 -> (None, None)

In [16]:
locale.setlocale(locale.LC_ALL, 'fr_FR')

'fr_FR'

In [17]:
for cat in locale.LC_TIME, locale.LC_MONETARY, locale.LC_COLLATE, locale.LC_NUMERIC:
    print(cat, locale.getlocale(cat), sep=' -> ')

5 -> ('fr_FR', 'ISO8859-1')
3 -> ('fr_FR', 'ISO8859-1')
1 -> ('fr_FR', 'ISO8859-1')
4 -> ('fr_FR', 'ISO8859-1')

In [18]:
# other format: 11h46 jeudi 13 juin 2024
dt.strftime('%Hh%M le %A %d %B %Y')

'12h42 le jeudi 13 juin 2024'

In [19]:
# convert into datetime these str datas
dt_str1 = '2024-12-31 23:59:57'
dt_str2 = '23:59 31/12/2024'

In [20]:
datetime.strptime(dt_str1, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2024, 12, 31, 23, 59, 57)

In [21]:
datetime.fromisoformat(dt_str1)

datetime.datetime(2024, 12, 31, 23, 59, 57)

In [22]:
datetime.strptime(dt_str2, '%H:%M %d/%m/%Y')

datetime.datetime(2024, 12, 31, 23, 59)

### Timezones

In [23]:
tz_sydney = pytz.timezone('Australia/Sydney')
tz_sydney

In [24]:
dt_sydney = datetime.now(tz=tz_sydney)
dt_sydney

datetime.datetime(2024, 6, 13, 20, 42, 46, 922993, tzinfo=<DstTzInfo 'Australia/Sydney' AEST+10:00:00 STD>)

In [25]:
tz_fr = pytz.timezone('Europe/Paris')
tz_la = pytz.timezone('America/Los_Angeles')

In [26]:
for tz in tz_sydney, tz_fr, tz_la:
    dt_somewhere = datetime.now(tz=tz)
    print(tz, dt_somewhere, sep=':  ')

Australia/Sydney:  2024-06-13 20:42:46.937028+10:00
Europe/Paris:  2024-06-13 12:42:46.937028+02:00
America/Los_Angeles:  2024-06-13 03:42:46.937028-07:00

## Date objects

In [27]:
d1 = date.today()
d1

datetime.date(2024, 6, 13)

In [28]:
d2 = date(2024, 2, 29)
d2

datetime.date(2024, 2, 29)

In [29]:
d3 = dt4.date()
d3

datetime.date(2024, 1, 1)

In [30]:
dt4.time()

datetime.time(18, 30)

## February 29

In [31]:
date(2024, 2, 29)

datetime.date(2024, 2, 29)

In [34]:
try:
    dt = date(2025, 2, 29)
    print(dt)
except:
    print('no february 29 this year')

no february 29 this year

In [38]:
try:
    dt = date(2025, 2, 29)
    print(dt)
except ValueError:
    print('no february 29 this year')

no february 29 this year

In [39]:
try:
    dt = date(2025, 2, 29)
    print(dt)
except ValueError as ex:
    print('no february 29 this year:', ex)

no february 29 this year: day is out of range for month

In [ ]:
# display all debruary 29th in year span [2000-2400]
# (use strategy try-error)

In [40]:
j=0
annees = []
for i in range(2000, 2400):
    if i%4 == 0:
        j = j+1
        annees.append(i)
print(j)
print(annees)

100
[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2100, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2200, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2300, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396]

In [42]:
fev29 = []
for annee in range(2000, 2401):
    try:
        dt = date(annee, 2, 29)
        fev29.append(annee)
    except:
        pass
print(fev29)

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096, 2104, 2108, 2112, 2116, 2120, 2124, 2128, 2132, 2136, 2140, 2144, 2148, 2152, 2156, 2160, 2164, 2168, 2172, 2176, 2180, 2184, 2188, 2192, 2196, 2204, 2208, 2212, 2216, 2220, 2224, 2228, 2232, 2236, 2240, 2244, 2248, 2252, 2256, 2260, 2264, 2268, 2272, 2276, 2280, 2284, 2288, 2292, 2296, 2304, 2308, 2312, 2316, 2320, 2324, 2328, 2332, 2336, 2340, 2344, 2348, 2352, 2356, 2360, 2364, 2368, 2372, 2376, 2380, 2384, 2388, 2392, 2396, 2400]

In [43]:
february_29ths = []
not_leap_years = []
for year in range(2000, 2401):
	try:
		d = date(year, 2, 29)
		february_29ths.append(d)
	except ValueError:
		not_leap_years.append(year)
		
print(", ".join(str(d) for d in february_29ths))
print("not a leap year:",
	", ".join(str(y) for y in not_leap_years))

2000-02-29, 2004-02-29, 2008-02-29, 2012-02-29, 2016-02-29, 2020-02-29, 2024-02-29, 2028-02-29, 2032-02-29, 2036-02-29, 2040-02-29, 2044-02-29, 2048-02-29, 2052-02-29, 2056-02-29, 2060-02-29, 2064-02-29, 2068-02-29, 2072-02-29, 2076-02-29, 2080-02-29, 2084-02-29, 2088-02-29, 2092-02-29, 2096-02-29, 2104-02-29, 2108-02-29, 2112-02-29, 2116-02-29, 2120-02-29, 2124-02-29, 2128-02-29, 2132-02-29, 2136-02-29, 2140-02-29, 2144-02-29, 2148-02-29, 2152-02-29, 2156-02-29, 2160-02-29, 2164-02-29, 2168-02-29, 2172-02-29, 2176-02-29, 2180-02-29, 2184-02-29, 2188-02-29, 2192-02-29, 2196-02-29, 2204-02-29, 2208-02-29, 2212-02-29, 2216-02-29, 2220-02-29, 2224-02-29, 2228-02-29, 2232-02-29, 2236-02-29, 2240-02-29, 2244-02-29, 2248-02-29, 2252-02-29, 2256-02-29, 2260-02-29, 2264-02-29, 2268-02-29, 2272-02-29, 2276-02-29, 2280-02-29, 2284-02-29, 2288-02-29, 2292-02-29, 2296-02-29, 2304-02-29, 2308-02-29, 2312-02-29, 2316-02-29, 2320-02-29, 2324-02-29, 2328-02-29, 2332-02-29, 2336-02-29, 2340-02-29, 2344-02-29, 2348-02-29, 2352-02-29, 2356-02-29, 2360-02-29, 2364-02-29, 2368-02-29, 2372-02-29, 2376-02-29, 2380-02-29, 2384-02-29, 2388-02-29, 2392-02-29, 2396-02-29, 2400-02-29
not a leap year: 2001, 2002, 2003, 2005, 2006, 2007, 2009, 2010, 2011, 2013, 2014, 2015, 2017, 2018, 2019, 2021, 2022, 2023, 2025, 2026, 2027, 2029, 2030, 2031, 2033, 2034, 2035, 2037, 2038, 2039, 2041, 2042, 2043, 2045, 2046, 2047, 2049, 2050, 2051, 2053, 2054, 2055, 2057, 2058, 2059, 2061, 2062, 2063, 2065, 2066, 2067, 2069, 2070, 2071, 2073, 2074, 2075, 2077, 2078, 2079, 2081, 2082, 2083, 2085, 2086, 2087, 2089, 2090, 2091, 2093, 2094, 2095, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2105, 2106, 2107, 2109, 2110, 2111, 2113, 2114, 2115, 2117, 2118, 2119, 2121, 2122, 2123, 2125, 2126, 2127, 2129, 2130, 2131, 2133, 2134, 2135, 2137, 2138, 2139, 2141, 2142, 2143, 2145, 2146, 2147, 2149, 2150, 2151, 2153, 2154, 2155, 2157, 2158, 2159, 2161, 2162, 2163, 2165, 2166, 2167, 2169, 2170, 2171, 2173, 2174, 2175, 2177, 2178, 2179, 2181, 2182, 2183, 2185, 2186, 2187, 2189, 2190, 2191, 2193, 2194, 2195, 2197, 2198, 2199, 2200, 2201, 2202, 2203, 2205, 2206, 2207, 2209, 2210, 2211, 2213, 2214, 2215, 2217, 2218, 2219, 2221, 2222, 2223, 2225, 2226, 2227, 2229, 2230, 2231, 2233, 2234, 2235, 2237, 2238, 2239, 2241, 2242, 2243, 2245, 2246, 2247, 2249, 2250, 2251, 2253, 2254, 2255, 2257, 2258, 2259, 2261, 2262, 2263, 2265, 2266, 2267, 2269, 2270, 2271, 2273, 2274, 2275, 2277, 2278, 2279, 2281, 2282, 2283, 2285, 2286, 2287, 2289, 2290, 2291, 2293, 2294, 2295, 2297, 2298, 2299, 2300, 2301, 2302, 2303, 2305, 2306, 2307, 2309, 2310, 2311, 2313, 2314, 2315, 2317, 2318, 2319, 2321, 2322, 2323, 2325, 2326, 2327, 2329, 2330, 2331, 2333, 2334, 2335, 2337, 2338, 2339, 2341, 2342, 2343, 2345, 2346, 2347, 2349, 2350, 2351, 2353, 2354, 2355, 2357, 2358, 2359, 2361, 2362, 2363, 2365, 2366, 2367, 2369, 2370, 2371, 2373, 2374, 2375, 2377, 2378, 2379, 2381, 2382, 2383, 2385, 2386, 2387, 2389, 2390, 2391, 2393, 2394, 2395, 2397, 2398, 2399